* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: linear-gradient(to right, #5023cb, #ce1d61);
}

.container {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    background: #fff;
    text-align: center;
    padding: 20px 25px;
    box-shadow: 0 5px 10px rgba(71, 3, 6, 0.7);
}

.title {
    padding-bottom: 10px;
}


.pay {
    padding-top: 10px;
}